 /* Variables */

 :root {
    --background-page: #121212;
    --background: #0B0B0B;
    --background-button: #252525;
    --basic-white: #FFF;
    --basic-tomato: #DA2F37;
} 

a {
    text-decoration: none;
    color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
    background-color: var(--background-page);
}

.hidden {
    display: none;
}

.page-body {
	margin: 0;
	padding: 0;
    max-width: 1600px;
    margin: 0 auto;
	font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
	color: var(--basic-white);
	background-color: var(--background);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    height: 98px;
    background-color: rgba(0,0,0,0.64);
    padding: 0 95px 55px 95px; 
    position: relative;
}

.main-navigation-wr {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    margin-top: 21px;
}

.main-navigation {
    display: flex;
}

.header-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 149px;
    margin-left: 5px;
}

.header-logo-title {
    color: var(--basic-tomato);
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 19.5px;
    line-height: 88.9%;
    letter-spacing: mixed;
}

.site-navigation {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 0 0 0 75px;
	padding: 0;
    list-style: none;
}

.city-name {
    color: var(--basic-tomato);
}

.login-wr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login::before {
    content: url(/img/login.svg);
    width: 13.13px;
    height: 12.5px;
    color: var(--basic-tomato);
    margin: 0 5.5px 0 2px;
  }

.button {
    background-color: var(--basic-tomato);
    padding: 18px 32px;
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.button--grey {
    background-color: var(--background-button);
    margin-right: 30px; 
}

.button--tomato:before {
    content: "Стать клиентом";
}

.button--grey:before {
    content: "Бесплатная консультация";
  }

.about {
    height: 802px;
    padding: 0 95px;
    background-color: rgba(0,0,0,0.64);
    position: relative;
}

.about-description {
    position: relative;
    z-index: 2;
}

.about-ellipse--top {
    position: absolute;
    top: -120px;
    left: -48px;
    z-index: 1;
    clip-path: polygon(48px 0, 100% 0, 100% 100%, 48px 100%);
}

.about-ellipse--bottom {
    position: absolute;
    bottom: -582px;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 716px, 0 716px);
}

.about-img {
    position: absolute;
    bottom: -396.25px;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 900px, 0 900px);
}

.about h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
} 

.about p {
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
    margin: 20px 0 40px;
} 

.text-tomato {
    color: var(--basic-tomato);
}

.advantages-offer-wr {
    display: flex;
    flex-direction: column;
}

.advantages {
    min-height: 715px;
    background-color: var(--background);
    order: 1;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    gap: 30px;
    margin: 0;
    list-style: none;
    padding: 58px 95px 57px 95px;
    justify-content: center;
}

.advantage-item {
    width: 330px;
    height: 600px;
    border: 1px solid var(--basic-tomato);
    border-radius: 9px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}

.advantage-item__img1 {
    background-image: url(../img/advantages_img1.png);
}

.advantage-item__img2 {
    background-image: url(../img/advantages_img2.png);
}

.advantage-item__img3 {
    background-image: url(../img/advantages_img3.png);
}

.advantage-item__img4 {
    background-image: url(../img/advantages_img4.png);
}


.advantage-item h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto 0 21px;
    position: absolute;
    bottom: 74px;
}

.advantage-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    backdrop-filter: blur(7px);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 9px;
}

.advantage-more a{
    color: var(--basic-tomato);
}

.offer {
    height: 715px;
    background-image: url(../img/gym_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    order: 2;
}

.offer-wr {
    display: flex;
    flex-direction: column;
    padding: 0 95px;
    align-items: flex-start;
}

.offer-wr h1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 93px 0 20px 0;
}

.offer-wr p {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 40px 0;
    line-height: 130%;
}

.rates {
    min-height: 715px;
    background-color: var(--background);
    position: relative;
}

.rates-wr {
    padding: 76px 0 0 95px;
    position: relative;
    z-index: 2;
}

.rates-wr h1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.rates-wr p {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0 40px 0;
    line-height: 130%;
}

.rates-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263.5px, auto));
    gap: 48.5px;
    margin: 0 auto;
	padding: 0;
    list-style: none;
    padding: 0 200.25px;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.rates-item {
    width: 263.5px;
    height: 288px;
    background-color: #161616;
    border: 1px solid var(--basic-tomato);
    border-radius: 9px;
    position: relative;
}

.rates-item h3 {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0 30px 0;
    text-align: center;
}

.rates-item p {
    position: absolute;
    top: 110px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    margin: 0 0 0 6.98px;
}

.rates-item button {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.rates-item button::before {
    content: "Узнать стоимость";
}

.rates-item:last-child button:before {
    content: "Записаться";
}

.rates-item:last-child p {
    margin-left: 50px;
}

.rates-ellipse--top {
    position: absolute;
    bottom: 0;
    left: -27px;
    z-index: 1;
    clip-path: polygon(27px 0, 100% 0, 100% 100%, 27px 100%);
}

.rates-ellipse--bottom-right {
    position: absolute;
    bottom: 80px;
    right: -129px;
    transform: rotate(270deg);
    clip-path: polygon(0 0, 100% 0, 100% 716px, 0 716px);
}

.rates-ellipse--top-right {
    position: absolute;
    top: -600px;
    right: 10px;
}

.page-footer {
    background-color: var(--background);
    position: relative;
} 

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 95px 0 95px;
    min-height: 452px;
    position: relative;
    z-index: 2;
}

.form-container h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    color: var(--basic-tomato);
    margin: 0 0 25px 0;
    text-align: center;
    text-transform: uppercase;
} 

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin-bottom: 11px;
}

.input-wr input {
    height: 49px;
    width: 411px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    padding: 0 33px;
    border-radius: 33px;
    border: 1px solid #ACACAC; 
    background-color: var(--basic-white);
    outline: none;
}

.checkbox {
    position: relative;
}

.checkbox span {
    color: rgba(255,255,255,0.5);
    line-height: 21.9px;
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox span::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0 ;
    width: 14px;
    height: 14px;
    border-radius: 2.5px;
    background-color: var(--basic-white);
    margin-right: 10px;
}

.checkbox span::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    margin-left: 1px;
    left: 0;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23a0a0a0' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}

.button-submit {
    margin-top: 35.8px;
    height: 46px;
    border-radius: 33px;
    padding: 13px 43px;
}

.checkbox input:checked + span::after {
    display: block;
} 

.phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-number p:first-child {
    font-size: 18px;
    line-height: 21.9px;
    margin: 18.2px 0 13px 0;
}

.phone-number p:last-child {
    font-size: 28px;
    font-weight: 700;
    line-height: 21.9px;
    margin: 0;
}

.footer-ellipse {
    position: absolute;
    bottom: 0;
    left: -106px;
    z-index: 1;
    clip-path: polygon(106px 0, 100% 0, 100% 100%, 106px 100%);
}

.header-toggler {
    position: absolute;
    width: 28.14px;
    height: 23.81px;
    top: 35.72px;
    right: 32.11px;
}

/* Мобильные устройства */
@media (max-width: 566px) {
    :root {
        --background-page: #0B0B0B;
        --background: #0B0B0B;
    } 

    .page-body {
        max-width: 562px;
    }  

    .button {
        border-radius: 14.5px;
    }

    .text-tomato--mob {
        color: var(--basic-tomato);
    }

    .main-header {
        padding: 0 28.86px 20px; 
        height: 96px;
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        background: none;
        transition: background-color, box-shadow 0.25s ease;
        z-index: 5;      
    }

    .hidden {
        display: block;
    }

    .main-navigation-wr {
        display: flex;
        justify-content: start;
        margin-top: 30px;
    }

    .site-navigation, .login-wr {
        display: none;
    } 

    .header-logo {
        width: 87.53px;
        margin-left: 0;
    }

    .header-logo-title {
        font-size: 20.2px;
        font-weight: 900;
        line-height: 88.9%;
        margin-left: 9.5px;
    }

    .header-logo img {
        width: 31.75px;
        height: 28.86;
    }

    .header-logo img {
        margin-left: 0;
    }

    .about {
        height: 1122px;
        padding: 0 28.86px; 
        background-image: url(../img/mob-iPhone\ 14\ -\ 7.svg);
        background-position-y: -90px;
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 1122px, 0 1122px);
    }

    .about-description {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-description p {
        display: none;
    }

    .about h1 {
        font-size: 46.18px;
    }
    .about-buttons-wr {
        display: flex;
        flex-direction: column;
        gap: 14.07px;
        margin-bottom: 50px;
    }

    .about-buttons-wr button {
        width: 100%;
        height: 87px;
    }

    .button--tomato:before {
        content: "Войти";
        font-size: 28.86px;
    }

    .button--grey {
        margin-right: 0;
        order: 1;
    } 

    .button--grey:before {
        content: "Зарегистрироваться";
        font-size: 28.86px;
      }

    .about-img, .about-ellipse--top, .about-ellipse--bottom {
        display: none;
    }

    .offer {
        height: 230.9px;
        order: 1;
        margin: 28.86px 0;
        padding: 0 28.86px 15.87px;
        background-image: none;
    }

    .offer-wr {
        display: flex;
        flex-direction: column;
        padding: 0 21.15px 0 17.3px;
        align-items: flex-start;
        background-image: url(../img/gym_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        border: 1.44px solid var(--basic-tomato);
    }

    .offer-wr h1 {
        font-size: 28.86px;
        margin: 24.53px 0 28.86px 0;
    }

    .offer-wr p {
        font-size: 14.43px;
        margin: 0;
    }

    .offer-flexWr {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15.8px;
    }

    .offer-flexWr button {
        font-size: 14.43px;
        margin: 0;
    }

    .advantages {
        height: auto;
        order: 2;
        margin-bottom: 75px;
    }

    .advantages-list {
        grid-template-columns: repeat(auto-fit, minmax(237px, auto));
        gap: 28.86px;
        padding: 0 28.86px;
    }

    .advantage-item {
        width: 238px;
        height: 346.35px;
        border-radius: 15px;
        background-size: contain;
        border: 1.44px solid var(--basic-tomato);
    }

    .advantage-item h2 {
        font-size: 23px;
        margin: 0 auto 0 19.7px;
        bottom: 63.5px;
    }

    .advantage-more {
        height: 43.29px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 15px;
    }
    
    .advantage-more a{
        font-size: 14.43;
    }

    .advantage-item__img1 {
        background-image: url(../img/mob-advantages_img1.png);
    }
    
    .advantage-item__img2 {
        background-image: url(../img/mob-advantages_img2.png);
    }
    
    .advantage-item__img3 {
        background-image: url(../img/mob-advantages_img3.png);
    }
    
    .advantage-item__img4 {
        background-image: url(../img/mob-advantages_img4.png);
    }

    .rates-ellipse--top, .rates-ellipse--bottom-right, .rates-ellipse--top-right {
        display: none;
    } 

    .rates {
        min-height: 785px;
    }

    .rates-wr {
        padding: 0 28.86px;
    }

    .rates-wr h1 {
        font-size: 28.86px;
        text-align: center;
    }

    .rates-wr p {
        font-size: 23px;
        margin: 14.43px 0;
        opacity: 0.5;
    }

    .rates-list {
        grid-template-columns: repeat(auto-fit, minmax(237px, auto));
        gap: 28.86px;
        padding: 0 28.86px;
    }
    
    .rates-item {
        width: 237px;
        height: 317px;
        border-radius: 15px;
        border: 1.44px solid var(--basic-tomato)
    }
    
    .rates-item h3 {
        font-size: 23px;
        line-height: 28.9px;
        margin: 10px 0 17px 0;
    }

    .rates-item:last-child h3 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .rates-item p {
        top: 85.14px;
        font-size: 14.43px;
        line-height: 24.2px;
        margin: 0;
        padding: 0 15.87px 0 18.76px;
    }

    .rates-item button {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 43.29;
        font-weight: 400;
        padding: 12.65px 0;
    }

    .rates-item button::before {
        content: "Подробнее";
        font-size: 14.43px;
    }

    .rates-item:last-child p {
        margin-left: 0;
        padding-left: 27.42px;
    }

    .checkbox, .button-submit, .phone-number, .footer-ellipse {
        display: none;
    }

    .form-container {
        padding: 30.3px 28.8px 0;
        min-height: 260px;
    }

    .form-container h2 {
        font-size: 23.09px;
        line-height: 130%;
        margin-bottom: 17px;
    } 

    .input-wr {
        gap: 14.32px;
        margin-bottom: 34px;
        align-items: stretch;
    }

    .input-wr input {
        height: 69.2px;
        padding: 0 47.6px;
        border-radius: 72px;
    }

    .input-wr input::placeholder {
        font-size: 25.98px;
        color: var(--basic-tomato);
    }

}  